@(currentPage: Page[shop.Category], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Application.listCategories(newPage, newOrderBy.map { orderBy =>
        if(orderBy == Math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(Math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    <h1>@Messages("categories.list.title", currentPage.total)</h1>
    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }
    <div id="moreActions">
        @helper.form(action=routes.Application.listCategories()) {
            <input type="search" name="f" value="@currentFilter" placeholder="Filter by category name...">
            <input type="submit" value="Filter by name" class="btn primary">
        }
        <a class="btn success" id="add" href="@routes.Application.createCategory()">Add a new category</a>
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { categories =>
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(2, "Category name")
                    @header(3, "Sequence")
                </tr>
            </thead>
            <tbody>

                @categories.map { 
                    case (category) => {
                        <tr>
                            <td>
                                @category.name
                            </td>
                            <td>
                                @category.sequence
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + categories.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    }
}
