<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<div>
    <h1>Shopping List 2023-03-10</h1>
    <table>
        <thead>
        <tr>
            <th colspan="2"><img src="./plus.png" alt="add" width="32" height="32">add category
        </tr>
        </thead>
        <tr>
            <td>groente<img src="./delete.png" alt="delete" width="32" height="32"><b>delete category</b></td>
            <td>

                <table>
                    <thead>
                    <tr>
                    <th colspan="2"><img src="./plus.png" alt="edit" width="32" height="32">add ingredient in category
                    </tr>
                    </thead>
                    <tr>
                        <td><img src="./delete.png" alt="delete" width="32" height="32"><img src="./edit.png" alt="edit" width="32" height="32"></td>
                        <td>broccoli</td>
                        <td>1 kg</td>
                    </tr>
                    <tr>
                        <td><img src="./delete.png" alt="delete" width="32" height="32"><img src="./edit.png" alt="edit" width="32" height="32"></td>
                        <td>bloemkool</td>
                        <td>1 kg</td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td>pasta</td>
        </tr>
    </table>
</div>

</body>
